
footer p {

   font-family: 'Gill Sans', 'Gill Sans MT';
   font-size: 11px;
   padding: 20px;
   padding-left: 0;
   margin: 100px 200px 20px 0px;
   color: black;
   display: inline-block;

}


.logofooter {

   margin-left: 80px;

}

footer{
   background-color: rgb(73, 72, 72);
}