*{
   padding: 0;
   margin: 0%;
   box-sizing: border-box;

}

body {
   background-color: black;
   font-family: 'Gill Sans', 'Gill Sans MT';
}



.imagencentrada {
 padding: 20px;
margin: 40px 200px 0px 200px;
}





.galeriainicio{
display:grid;
grid-template-areas:
"area1 area2 area3"
"area4 area5 area6";
grid-template-rows: auto auto;   
grid-template-columns: auto auto auto ;
gap:15px;
justify-content: center;

}
  
.area1 {
   grid-area: area1;
}

.area2 {
   grid-area:area2;
}

.area3 {
   grid-area: area3;
}

.area4 {
   grid-area: area4;
}

.area5 {
   grid-area: area5;
}

.area6 {
   grid-area: area6;
}


.navbar {
list-style-type: none;
margin-left: 200px;
font-family: 'Gill Sans', 'Gill Sans MT';
font-size: 20px;

}




/*.menu_hamburguer{
   display: flex;

   width: 80px;
   height: 80px;
   
}*/

.header {
   background-color: rgb(0, 0, 0, 0.5);
   position: fixed;
   width: 100%;
   top: 0%;
   left: 0;
   z-index: 10;
   display: flex;
}
header nav{
display: inline-block;
flex-direction: row;
padding-top: 100px;
}


/*header nav{
   text-align: right;
   display:inline-block;
} */

header ul{
  list-style-type: none;
   margin: 0px 0px 20px 300px;
  text-align: left;
}

header ul li{
  display: inline-block;
   padding-right: 30px;
   
}
header ul li a {
   text-decoration: none;
   color: white;
}





.imagenprincipal {
   margin: 200px 200px 20px 200px;
   border: 20px;
   padding: 20px;
   }





main section h1 {
color: white;
font-family:'Trebuchet MS', sans-serif;
font-size: xx-large;
text-align: center;
font-weight: bold;}

main section h1 {
margin: 50px 300px 10px 300px ;
}

main section p {
color: white;
font-family: 'Gill Sans', 'Gill Sans MT';
text-align: center;
font-size: 20px;
}

main section p {
   padding: 20px;
   margin: 10px 300px 100px 300px;
   }


main section h2 {
  text-decoration: none;
  color: white;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  text-align: center;
  font-weight: bold;
  
}

main section h2 {
display: inline-block;
position: absolute;
right: 200px;
top: 250px;
left: 200px;
padding: 20px;
}



footer p {

   font-family: 'Gill Sans', 'Gill Sans MT';
   font-size: 11px;
   padding: 20px;
   padding-left: 0;
   margin: 100px 200px 20px 0px;
   color: black;
   display: inline-block;

}


.logofooter {

   margin-left: 80px;

}

footer{
   background-color: rgb(73, 72, 72);
}





.whatsapp {
  
   padding: 0.5rem 1rem;
   display: inline-block;
   position: fixed;
   width: 80px;
   height: 80px;

   bottom: 2rem;
   right: 2rem; }




   /* css GIFT CARD formulario */

   .formtitle {
     
   /*para los h2 del formulario*/   
    color: rgb(246, 246, 246);
    display: inline-block;
    background-color: rgb(15, 121, 98);
   padding: 10px;
   padding-right: 30px;
   margin-bottom: 20px;
    border-radius: 10px;
    font-size: 19px;
     
   }

   label {
      display: inline-block;
      color: black;
      padding: 5px;
      margin-top: 15px;
   }

   input{
      display: inline-block;
      color: black;
      padding: 15px;
      padding-right: 75px;
      margin-top: 15px;
      border-radius: 8px;
      border-color: rgb(15, 121, 98);
      display: flex;
      justify-content: right;
      font-family: 'Gill Sans', 'Gill Sans MT';
      font-size: small;
      
   }

   textarea {
      display: inline-block;
      color: black;
      padding: 15px;
      padding-right: 75px;
      margin-top: 15px;
      border-radius: 8px;
      border-color: rgb(15, 121, 98);
      display: flex;
      justify-content: right;
      font-family: 'Gill Sans', 'Gill Sans MT';

      


   }

   .botom__solicitud{
      font-size: 12px;
      color: black;
      font-weight: bold;
      margin-top: 60px;

   }


/* GRID FORM */

.formgrid {
   background-color: white;
   padding-top: 75px;
   display:grid;
   font-family: 'Gill Sans', 'Gill Sans MT';
  

   grid-template-areas:
   "areaf1 areaf2"
   "areaf3 areaf4"
   "areaf5 areaf6"
   "areaf7 areaf8"
   "areaf9 areaf10"
   "areaf11 areaf12";

   grid-template-rows: auto auto auto auto auto auto;   
   grid-template-columns: auto auto ;
   gap:150px;
   justify-content: center;
   
   }

   .areaf1 {
      grid-area: areaf1;
   }

   .areaf2 {
      grid-area: areaf2;
   }

   .areaf3 {
      grid-area: areaf3;
   }

   .areaf4 {
      grid-area: areaf4;
   }

   .areaf5 {
      grid-area: areaf5;
   }

   .areaf6 {
      grid-area: areaf6;
   }

   .areaf7 {
      grid-area: areaf7;
   }

   .areaf8 {
      grid-area: areaf8;
   }

   .areaf9 {
      grid-area: areaf9;
   }

   .areaf10 {
      grid-area: areaf10;
   }

   .areaf11 {
      grid-area: areaf11;
   }

   .areaf12 {
      grid-area: areaf12;
   }




/* LA CARTA */




.grid-menu{
   color: white;
   padding: 200px;
   margin-top: 200px;
   
   max-width: 1400px;
  
   display:grid;
   background-color: rgb(196, 243, 255);
 

   
grid-template-columns: auto auto auto ;
grid-template-rows: auto auto auto;
grid-column-gap: 16px;
grid-row-gap: 15px;


align-items: stretch;
justify-content: center;



grid-template-areas:
 "food-lateral food1 food2"
 "food-lateral food3 food4"
 "food-lateral food5 food6";
}



.grid_text{
   position: absolute;
   color: white;
   top: 120px; 
   left: 50px;
   right: 50px;
   
   padding: 1rem 1rem;
   background-color: rgba(0, 0, 0, 0.5); 
   font-family: 'Gill Sans', 'Gill Sans MT';
   font-size: 20px;
   
}

.h2-lacarta{
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: black;
   
}

.grid_hijo {
   /*border: 2px solid rgb(255, 255, 255);*/
   
   color: white;
   text-align: center;
   position: relative;
   justify-self: stretch;
   align-self: stretch;
 
}

/*
.grid_hijo img{
   width: 100px;
   height: 100px;
   object-fit: cover;
} */



   .food-lateral {
      grid-area: food-lateral;
   }
   
   .food1 {
      grid-area: food1;
      
   }
   
   .food2 {
      grid-area: food2;
   }
   
   .food3 {
      grid-area: food3;
   }
   
   .food4 {
      grid-area: food4;
   }
   
   .food5 {
      grid-area: food5;
   }
   
   .food6 {
      grid-area: food6;
   }









/*
   /* ELEMENTO PADRE 
   .flexform{
      padding: 50px 230px 100px 230px;
      background-color: rgba(255, 255, 255);
 
     

      /*propiedad bligatoria para usar flexbox
      display: flex;
      /*control de direccion de hijos desde el padre
      
      justify-content: space-between;

   }


/* formulario lado izq
.form__bloque1 {
   flex-direction: column;
   background-color: rgb(48, 215, 143);
}


/* formulario lado derecho

.form__bloque2 {
   flex-direction: column;
   background-color: white;



} */

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  
.header {
   flex-direction: column;
}

}

@media screen and (max-width: 600px) {
  
   .navbar {
      display: none;
   }
   .header{
      flex-direction: row;
   }
   }



   
